<%= render "navbar" %>


<div class="col-md-8" id="left-panel">
  <h1>Main#index</h1>
  <p>Find me in app/views/main/index.html.erb testest</p>

  <ul>
    <%= render "course" %>
  </ul>

</div>


<div class="col-md-4" id="right-panel">
  <div class="input-group form-group">
    <%= form_tag courses_index_path, id: "search-form", method: :get do %>
    <%= text_field_tag 'term', params[:term], placeholder: "Course name/number", :class => 'form-control', id:'searchbar' %>
    <span class="input-group-btn">
      <%= submit_tag 'Search', class: 'btn btn-default' %>
    </span>
    <% end %>
  </div>

  <% @courses.each do |c| %>
  <%= c.title %><br>
  <% end %>

</div>


